.input-code-password {
    width: 100%;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    &-box {
        display: table-cell;
        width: 1%;
        float: none;
        position: relative;
        padding-left: 1em;
        &:first-child {
            padding-left: 0;
        }
    }
    &-helper {
        visibility: hidden;
        pointer-events: none;
        display: inline-block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        line-height: 2.7em;
        color: #848484;
    }
    & input.ng-not-empty ~ &-helper {
        visibility: visible;
    }
    input {
        color: transparent;
    }
}
