<ul class="input-code-password">
    <li ng-repeat="key in _fields track by $index" class="input-code-password-box">
        <input type="tel" maxlength="1"
            class="form-control text-center"
            pattern="[0-9]*" inputmode="numeric"
            ng-model="values[$index]"
            ng-focus="reset($event, $index)"
            ng-change="change()"
            ng-keydown="validate($event, $index)"
            ng-keyup="next($event, $index)"
            placeholder="{{_placeholders[$index]}}">
        <span class="input-code-password-helper"><i class="fa fa-circle"></i></span>
    </li>
</ul>
