<form class="m-t" role="form">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="ID" ng-model="id" required="" /> </div>
    <div class="form-group">
        <input-code-password ng-model="password" icp-fields="fields"></input-code-password>
    </div>
    <button type="submit" ladda="loading" class="btn btn-primary block full-width m-b" ng-click="signIn()">{{ 'SIGN_IN' | translate }}</button> <a ui-sref="forgot_password"><small>{{ 'FORGOT_PASSWORD' | translate }}</small></a> </form>
</form>
